services:
 backend:
  build: ./server
  container_name: mern-back
  restart: always
  env_file:
   - ./server/.env
  ports:
   - "5000:5000"

 frontend:
  build: ./client
  container_name: mern-front
  restart: always
  env_file:
   - ./client/.env
  ports:
   - "5173:5173"
  depends_on:
   - backend
