name: build-and-lint

# triggers: when this workflow should run
# so whenever push or pull request happens, actions will run before them
on:
 push:
  branches: [main, dev]
 pull_request:
  branches: [main, dev]

jobs:
 build-and-lint:
  runs-on: ubuntu-latest

  steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        node-version: 20

    - name: Install backend dependencies
      working-directory: server
      run: npm ci

    - name: Lint backend
      working-directory: server
      run: npm run lint -- --max-warnings=0

    - name: Install frontend dependencies
      working-directory: client
      run: npm ci
    
    - name: Lint frontend
      working-directory: client
      run: npm run lint -- --max-warnings=0

    - name: Backend image
      run: docker build -t ci-backend ./server

    - name: Frontend image
      run: docker build -t ci-frontend ./client
